
// font-family: "Solway", serif;
// font-family: "Stoke", serif;
// font-family: "Sorts Mill Goudy", serif;
// font-family: "Source Sans 3", sans-serif;

body {
    background-color: rgb(192, 192, 192);
}