.container {
    margin: 0 auto;
    padding: 0 15px;
    // outline: 1px solid red;
    width: 96%;
    max-width: 1600px;
    margin: 0 auto;
    height: 96vh;
    align-items: stretch;
    transition: 500ms;
}